<template id="voice-template">
  <article>
    <section class="toggle">
      <label>&nbsp;</label>
      <dip-switch dips="1" id="distortion-enable"></dip-switch>
    </section>
    <section class="amount">
      <label>Rate</label>
      <pot-meter min="0" max="800" step="10" value="0" label="2.3k" id="distortion-amount"></pot-meter>
    </section>
    <section class="oversample">
      <label for="">Oversample</label>
      <single-select values="4x,2x,none" value="0" id="distortion-oversample"></single-select>
    </section>
  </article>
</template>

