<template id="voice-template">
  <article>
    <section class="attack">
      <label>Attack</label>
      <pot-meter min="0" max="1" step="0.01" label="5k6" id="envelope-attack"></pot-meter>
    </section>
    <section class="decay">
      <label>Decay</label>
      <pot-meter min="0" max="1" step="0.01" label="1k" id="envelope-decay"></pot-meter>
    </section>
    <section class="sustain">
      <label>Sustain</label>
      <pot-meter min="0" max="1" step="0.01" label="4k4" id="envelope-sustain"></pot-meter>
    </section>
    <section class="release">
      <label>Release</label>
      <pot-meter min="0" max="1" step="0.01" label="1k1" id="envelope-release"></pot-meter>
    </section>
  </article>
</template>
