<template>
  <section class="dip-switch">
    <span class="dip-switch-label">On</span>
    <div class="dip-switch-value"></div>
    <div class="dip-switch-chip"></div>
    <ul class="dip-switch-switches">
      <!-- Switches over here -->
    </ul>
  </section>
</template>
