<template id="amp-template">
  <article>
    <section class="lfo-enabled">
      <label>&nbsp;</label>
      <dip-switch dips="1" id="lfo-enabled"></dip-switch>
    </section>
    <section class="lfo-frequency">
        <label>Freq</label>
        <pot-meter min="0" max="100" step="0.01" value="0" label="2k4" id="lfo-frequency"></pot-meter>
    </section>
    <section class="lfo-wave">
        <label>Wave</label>
        <dip-switch dips="2" show-value class="type-select wave" id="lfo-wave"></dip-switch>
      </section>
    </article>
</template>
