.led-container {
  --led-color: 0;
  display: flex;
}

.led {
  background-color: hsla(var(--led-color), 50%, 48%, .8);
  border: 3px solid hsla(var(--led-color), 50%, 37%, .8);
  border-radius: 50%;
  height: .75rem;
  margin-right: .5rem;
  width: .75rem;
}

.led.on {
  background-color: hsl(var(--led-color), 100%, 48%);
  border: 3px solid hsl(var(--led-color), 75%, 37%);
  box-shadow: 0 0 10px hsl(var(--led-color), 100%, 50%);
}