@font-face {
  font-family: 'OCR A Std';
  font-style: normal;
  font-weight: normal;
  src: local('OCR A Std'), url('/assets/fonts/OCRAStd.woff') format('woff');
}

:root {
  --bg-color: hsl(136, 28%, 19%);
  --text-color: #efefef;
}

* {
  user-select: none;
}

body {
  font-family: 'OCR A std';
  font-size: .8rem;
}

.keys,
.voices {
  display: flex;
  flex-direction: row;
}

.keys button {
  background-color: white;
  border: 1px solod black;
  flex: 0 0 auto;
  height: 5rem;
  width: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
