section {
  align-items: flex-end;
  display: flex;
  height: 1.25rem;
  margin-bottom: .5rem;
}

button {
  background-color: #cccccc;
  border: .125rem solid #444444;
  border-radius: 3px;
  box-sizing: border-box;
  height: 1.25rem;
  justify-self: right;
  margin-right: .5rem;
  position: relative;
  width: 1.25rem;
}

button::after {
  background-image:
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey);
  background-size:
    .125rem .375rem,
    .125rem .125rem,
    .125rem .375rem,
    .125rem .125rem,
    .125rem .375rem,
    .125rem .125rem,
    .125rem .375rem,
    .125rem .125rem;
  background-repeat: no-repeat;
  background-position:
    .125rem 0rem,
    0rem .125rem,
    .125rem .625rem,
    0rem .75rem,
    1.5rem 0rem,
    1.625rem .125rem,
    1.5rem .625rem,
    1.625rem .75rem;
  content: '';
  display: block;
  height: 1.25rem;
  position: absolute;
  top: 0;
  left: -.375rem;
  width: 1.75rem;
}

button > div {
  background-color: #444444;
  border-radius: 50%;
  box-shadow: 1px 1px 0 0 #777777;
  height: .75rem;
  left: 50%;
  transform: translate(calc(-50% - 1px), calc(-50% - 1px));
  transition: all .3s ease;
  position: absolute;
  top: 50%;
  width: .75rem;
}

button:active > div {
  box-shadow: 0 0 0 0 #777777;
  transform: translate(-50%, -50%);
}
