<template id="amp-template">
  <article>
    <section class="amp-volume">
        <label>Volume</label>
        <pot-meter min="0" max="1" step="0.01" value="0.5" label="2k4" id="amp-volume"></pot-meter>
    </section>
    <section class="amp-enabled">
      <label>Power</label>
      <dip-switch dips="1" id="amp-enabled"></dip-switch>
    </section>
  </article>
</template>
