article {
  color: var(--text-color);
  display: grid;
  column-gap: .5rem;
  grid-template-columns: repeat(2, 4rem) 3.5rem;
  grid-template-rows: auto 4.5rem;
  margin-bottom: 2rem;
}

header {
  font-size: 1.1rem;
  grid-area: 1 / 1 / 2 / 4;
  white-space: nowrap;
}

.detune {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 2;
}

.octave {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
}

.wave {
  /* align-items: flex-end; */
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  grid-area: 2 / 3 / 3 / 4;
}