<template id="voice-template">
  <article>
    <header><slot></slot></header>
    <section class="detune">
      <label>Detune</label>
      <pot-meter min="-10" max="10" step="0.5" value="0" label="10k" id="voice-detune"></pot-meter>
    </section>
    <section class="wave">
      <label>Wave</label>
      <dip-switch dips="2" show-value class="type-select wave"></dip-switch>
    </section>
    <section class="octave">
      <label>Mod
      </label>
      <pot-meter min="0" max="100" step="0.5" value="0" label="2k8" id="voice-mod-depth"></pot-meter>
    </section>
  </article>
</template>
