* {
  user-select: none;
}

.sequencer {
  background-color: var(--bg-color);
  display: grid;
  gap: .5rem;
  grid-template-columns: 15rem 43rem;
  grid-template-rows: 11.4rem 3rem;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  width: calc(55rem + 3.5rem);
}

.sequencer::before,
.sequencer::after {
  background-color: hsl(56, 39%, 47%);
  content: '';
  display: block;
  position: absolute;
  transform-origin: top left;
  z-index: -1;
}

.sequencer::after {
  height: 100%;
  left: 100%;
  top: 0;
  transform: skewY(60deg);
  width: .15rem;
}
.sequencer::before {
  height: .25rem;
  left: 0;
  top: 100%;
  transform: skewX(30deg);
  width: 100%;
}

.seq-controls {
  grid-area: 1 / 1 / 3 / 2;
}
.seq-steps {
  grid-area: 1 / 2 / 2 / 3;
}
.seq-leds {
  grid-area: 2 / 2 / 3 / 3;
}
.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
