<template>
  <section class="sequencer">
    <synth-group title="Controls" class="seq-controls">
      <seq-controls></seq-controls>
    </synth-group>
    <synth-group title="Steps" class="seq-steps">
      <section class="steps">
        <seq-step></seq-step>
        <seq-step></seq-step>
        <seq-step></seq-step>
        <seq-step></seq-step>
        <seq-step></seq-step>
        <seq-step></seq-step>
        <seq-step></seq-step>
        <seq-step></seq-step>
      </section>
    </synth-group>
    <synth-group title="leds" class="seq-leds">
      <section class="steps">
        <np-led></np-led>
        <np-led></np-led>
        <np-led></np-led>
        <np-led></np-led>
        <np-led></np-led>
        <np-led></np-led>
        <np-led></np-led>
        <np-led></np-led>
      </section>
    </synth-group>
  </section>
</template>
