<li class="item-container">
  <input id="" name="" type="radio" />
  <label for="">
    <div class="button"><div></div></div>
    <div class="led"></div>
    <span class="label">t</span>
  </label>
</li>
