.dip-switch {
  --background: hsl(0, 0%, 100%);
  --switch-bg: hsl(0, 50%, 50%);
  --switch-shadow: hsl(0, 50%, 35%);
  --switch-shadow-fine: hsl(0, 50%, 45%);
  --switch-text-color: hsl(0, 0%, 100%);
  --switch-switch-color: hsl(0, 0%, 100%);
  --switch-switch-shadow: hsl(0, 0%, 67%);
  --switch-switch-shadow-fine: hsla(0, 0%, 67%, .45);

  background-color: var(--switch-bg);
  display: inline-flex;
  padding: 1.25rem .5rem .125rem;
  position: relative;
}

input {
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  align-items: center;
  display: flex;
  margin-bottom: .25rem;
}

.button {
  background-color: #cccccc;
  border: .125rem solid #444444;
  border-radius: 3px;
  box-sizing: border-box;
  height: 1.25rem;
  justify-self: right;
  margin-right: .5rem;
  position: relative;
  width: 1.25rem;
}

.button::after {
  background-image:
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey),
    linear-gradient(0deg, grey, grey);
  background-size:
    .125rem .375rem,
    .125rem .125rem,
    .125rem .375rem,
    .125rem .125rem,
    .125rem .375rem,
    .125rem .125rem,
    .125rem .375rem,
    .125rem .125rem;
  background-repeat: no-repeat;
  background-position:
    .125rem 0rem,
    0rem .125rem,
    .125rem .625rem,
    0rem .75rem,
    1.5rem 0rem,
    1.625rem .125rem,
    1.5rem .625rem,
    1.625rem .75rem;
  content: '';
  display: block;
  height: 1.25rem;
  position: absolute;
  top: 0;
  left: -.375rem;
  width: 1.75rem;
}

.button > div {
  background-color: #444444;
  border-radius: 50%;
  box-shadow: 1px 1px 0 0 #777777;
  height: .75rem;
  left: 50%;
  transform: translate(calc(-50% - 1px), calc(-50% - 1px));
  transition: all .3s ease;
  position: absolute;
  top: 50%;
  width: .75rem;
}

li:active .button > div {
  box-shadow: 0 0 0 0 #777777;
  transform: translate(-50%, -50%);
}

.led {
  background-color: hsla(0, 50%, 48%, .8);
  border: 3px solid hsla(0, 50%, 37%, .8);
  border-radius: 50%;
  height: .75rem;
  margin-right: .5rem;
  width: .75rem;
}

input:checked + label .led {
  background-color: hsl(0, 100%, 48%);
  border: 3px solid hsl(0, 75%, 37%);
  box-shadow: 0 0 4px red;
}