<div class="trimmer" tabindex="0">
  <div class="trimmer-ring"></div>
  <div class="trimmer-chip"></div>
  <section class="trimmer-knob" style="transform: rotate(56deg);">
    <span class="pointer"></span>
  </section>
  <div class="value"></div>
</div>
