* {
  user-select: none;
}

.synth {
  background-color: var(--bg-color);
  display: grid;
  gap: .5rem;
  grid-template-columns: 15rem 10rem repeat(6, 5rem);
  grid-template-rows: repeat(8, 3.7rem);
  padding: 1rem;
  position: relative;
  width: calc(55rem + 3.5rem);
}

.synth::before,
.synth::after {
  background-color: hsl(56, 39%, 47%);
  content: '';
  display: block;
  position: absolute;
  transform-origin: top left;
  z-index: -1;
}

.synth::after {
  height: 100%;
  left: 100%;
  top: 0;
  transform: skewY(60deg);
  width: .15rem;
}
.synth::before {
  height: .25rem;
  left: 0;
  top: 100%;
  transform: skewX(30deg);
  width: 100%;
}


.synth-voices {
  grid-area: 1 / 1 / 7 / 2;
}
.synth-lfo {
  grid-area: 7 / 1 / 9 / 2;
}
.synth-mixer {
  grid-area: 1 / 2 / 6 / 3;
  height: 100%;
}
.synth-noise {
  grid-area: 6 / 2 / 9 / 3;
  height: 100%;
}
.synth-filter {
  grid-area: 1 / 3 / 3 / 7;
}
.synth-filter-envelope {
  grid-area: 3 / 3 / 5 / 7;
}
.synth-envelope {
  grid-area: 5 / 3 / 7 / 7;
}
.synth-distortion {
  grid-area: 7 / 3 / 9 / 6;
}
.synth-oscilloscope {
  grid-area: 7 / 6 / 9 / 9;
}
.synth-amplifier {
  grid-area: 1 / 7 / 3 / 9;
}
.synth-glide {
  grid-area: 5 / 7 / 7 / 9;
}

synth-filter {
  padding-bottom: 1rem;
}

.keys,
.voices {
  display: flex;
  flex-direction: row;
}

.keys button {
  background-color: white;
  border: 1px solod black;
  flex: 0 0 auto;
  height: 5rem;
  width: 2rem;
}

.voices article section {
  display: flex;
  flex-direction: column;
}

/* .synth-mixers,
.synth-voices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.oscilloscope {
  background: hsl(210, 96%, 17%);
  width: 200px;
  height: 75px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resistors {
  grid-area: 3 / 7 / 5 / 9;
}
.resistor-row {
  display: flex;
}

