<template>
  <section class="synth">
    <synth-group title="JSOscillator" class="synth-voices">
      <synth-voice id="osc-1" wave="square" detune="0">Osc 1</synth-voice>
      <synth-voice id="osc-2" wave="sine" detune="1">Osc 2</synth-voice>
      <synth-voice id="osc-3" wave="square" detune="-1" octave="4">Osc 3</synth-voice>
      <!-- <fieldset>
        <legend>Wave shapes</legend>
        <ul>
          <li>0: Sine</li>
          <li>1: Square</li>
          <li>2: Saw</li>
          <li>3: Triangle</li>
        </ul>
      </fieldset> -->
    </synth-group>
    <synth-group title="Mixer" class="synth-mixer">
      <synth-mixer id="mixer-osc-1" on gain="0.6">Osc 1</synth-mixer>
      <synth-mixer id="mixer-osc-2" gain="0.4">Osc 2</synth-mixer>
      <synth-mixer id="mixer-osc-3">Osc 3</synth-mixer>
    </synth-group>
    <synth-group title="Noise" class="synth-noise">
      <synth-mixer id="mixer-osc-noise"></synth-mixer>
      <synth-noise></synth-noise>
    </synth-group>
    <synth-group title="JSFilter" class="synth-filter">
      <synth-filter></synth-filter>
    </synth-group>
    <synth-group title="Filter Envelope" class="synth-filter-envelope">
      <synth-envelope id="filter-envelope"></synth-envelope>
    </synth-group>
    <synth-group title="JSA Envelope" class="synth-envelope">
      <synth-envelope
        attack="0.1"
        decay="0.5"
        sustain="0.1"
        release="0.2"
        id="jsa-envelope"
      ></synth-envelope>
    </synth-group>
    <synth-group title="JSAmplify" class="synth-amplifier">
      <synth-amplifier></synth-amplifier>
    </synth-group>
    <synth-group title="Oscilloscope" class="synth-oscilloscope">
      <synth-oscilloscope></synth-oscilloscope>
    </synth-group>
    <synth-group title="Glide" class="synth-glide">
      <synth-glide></synth-glide>
    </synth-group>
    <synth-group title="Distortion" class="synth-distortion">
      <synth-distortion></synth-distortion>
    </synth-group>
    <synth-group title="LFO" class="synth-lfo">
      <synth-lfo></synth-lfo>
    </synth-group>
    <section class="resistors">
      <section class="resistor-row">
        <np-resistor value="1k4"></np-resistor>
        <np-resistor value="3k6"></np-resistor>
        <np-resistor value="1M2"></np-resistor>
        <np-resistor value="10k4"></np-resistor>
        <np-resistor value="100k1"></np-resistor>
        <np-resistor value="1k4"></np-resistor>
        <np-resistor value="3M6"></np-resistor>
        <np-resistor value="1M4"></np-resistor>
      </section>
      <section class="resistor-row">
        <np-resistor value="10k4"></np-resistor>
        <np-resistor value="100k1"></np-resistor>
        <np-resistor value="1M4"></np-resistor>
        <np-resistor value="1k4"></np-resistor>
        <np-resistor value="1k4"></np-resistor>
        <np-resistor value="3k6"></np-resistor>
        <np-resistor value="1M2"></np-resistor>
        <np-resistor value="1k4"></np-resistor>
      </section>
    </section>
  </section>
</template>
