<template id="voice-template">
  <article>
    <section class="glide-enabled">
      <label>&nbsp;</label>
      <dip-switch dips="1" id="glide-enabled"></dip-switch>
    </section>
    <section class="glide-amount">
        <label>Rate</label>
        <pot-meter min="0" max="10" step="0.5" value="0.0" label="100k" id="glide-amount"></pot-meter>
    </section>
  </article>
</template>
