article {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  margin-right: .5rem;
}

single-select {
  margin-left: .5rem;
}