<template id="voice-template">
  <article>
    <section class="frequency">
      <label>Freq.</label>
      <pot-meter min="0" max="10000" step="100" label="10k4" id="filter-frequency"></pot-meter>
    </section>
    <section class="q">
      <label>Q</label>
      <pot-meter min="0" max="1000" step="10" label="3k6" id="filter-q"></pot-meter>
    </section>
    <section class="lfo">
      <label>Mod</label>
      <pot-meter min="0" max="1000" step="10" label="2k4" id="filter-mod-depth"></pot-meter>
    </section>
    <single-select values="lp,bp,hp" id="filter-type">Type</single-select>
  </article>
</template>
