article {
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 4rem;
  grid-template-rows: auto auto;
  margin-bottom: .5rem;
}

header {
  grid-area: 1 / 1 / 2 / 3;
}

pot-meter {
  align-items: flex-end;
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
}

dip-switch {
  grid-area: 2 / 1 / 3 / 2;
}