<template id="voice-template">
  <article>
    <header><slot></slot></header>
    <dip-switch dips="1" id="mixer-toggle"></dip-switch>
    <pot-meter min="0" max="1" step="0.05" value="0.5" label="4.4k" id="mixer-gain"></pot-meter>
  </article>
</template>
