article {
  color: var(--text-color);
}

.sequencer-state {
  display: flex;
}

.sequencer-state > section {
  display: flex;
  flex-direction: column;
}

.sequencer-control-led {
  padding-top: .125rem;
}

.sequencer-control-buttons {
  flex-grow: 1;
  padding-left: .5rem;
}