<template>
  <article>
    <section class="sequencer-state">
      <section class="sequencer-control-led">
        <label for="">&nbsp;</label>
        <np-led color="red" on id="sequencer-control-led"></np-led>
      </section>
      <section class="sequencer-control-buttons">
        <label for="">&nbsp;</label>
        <np-button id="sequencer-play">Play</np-button>
        <np-button id="sequencer-stop">Stop</np-button>
        <np-button id="sequencer-reset">Reset</np-button>
      </section>
      <section class="sequencer-tempo">
        <label for="">Tempo</label>
        <pot-meter min="20" max="200" value="120" step="1" id="sequencer-control-tempo"></pot-meter>
      </section>
    </section>
  </article>
</template>
