<template id="voice-template">
  <article>
    <header><slot></slot></header>
    <section class="noise-type">
      <label>Type</label>
      <single-select values="White,Pink" id="noise-type"></single-select>
    </section>
  </article>
</template>
