fieldset {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--text-color);
  height: 100%;
  padding: .25rem 1rem 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
}